html, body {
  height: 100%;
  font: Georgia, Serif;
}

#map {
  margin: 0;
  padding: 0;
  height: 600px;
  font: Georgia, Serif;
}

#slider {
	width: 70%;
}

#slider .slider-selection {
	background: #BABABA;
}